
:root {
    --header-h: 80px;
}

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=Manrope:wght@300;400;500;600;700&family=Nanum+Gothic:wght@700;800&display=swap');

.header {
    width: 100%;
    height: var(--header-h);
    background-color: white;
    position: fixed;
    z-index: 99999;
}

.container {
    width: 1198px;
    margin: 0 auto;
    background-color: white;
}

.header-line {
    margin-top: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: var(--header-h);
    justify-content: space-between;
}

.header-logo {
}  

.nav {
    margin-top: 28px;
    margin-bottom: 28px;
}

.nav-item {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-right: 50px;
    text-decoration: none;
    color:black;
} 

.header-button {
}

.mainpage {
    padding-top: var(--header-h);
}
.container {
}
.blockfirst {
    padding: 134px 0 124px 0;
    z-index: 1;
    font-family: 'Manrope', sans-serif;
    position: relative;
}
.blockfirst__text1 {
    font-size: 25px;
    position: relative;
    z-index: 2;
}
.blockfirst__text2 {
    margin-top: 15px;
    font-size: 55px;
    position: relative;
    z-index: 2;
}
.blockfirst__text3 {
    margin-top: 25px;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.blockfirst__button-block {
    margin-top: 35px;
    text-align: left;
}

.blockfirst__button {
    width: 223px;
    height: 50px;
}

.button_green {
    background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
    box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
}

.button {
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.blockfirst__circle {
    position: absolute;
    top: -129px;
    left: 129px;
    z-index: 1;
}   

.blocksecond {
    margin-top: 184px;
    font-family: 'Manrope', sans-serif;
    position: relative;
    z-index: 1;
}

.blocksecond__backgrond1 {

}

.blocksecond__img {
    width: 135%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blocksecond__img1 {
    position: absolute;
    left: -20%;
}

.blocksecond__img2 {
    position: absolute;
    top: 20%;
    right: -50%;

}

.blocksecond__backgrond2 {
}
.blocksecond__backgrond3 {
}
.blocksecond__text {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.blocksecond__line1 {
    margin-top: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.blocksecond__image {
    height: 172px;
}

.blocksecond__linetext1 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.blocksecond__linetext2 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
.blocksecond__icon1 {
}

.blocksecond__icon2 {
}

.blocksecond__icon3 {
}

.blocksecond__line2 {
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.blocksecond__icon4 {
}
.blocksecond__icon5 {
}
.blockfirst__button-block {
}

.button_green {
}

.button2 {
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.blocksecond__button {
    width: 306px;
    height: 50px;
    display: block;
    margin: 100px auto 0 auto;
}

.blockthird {
    position: relative;
}
.blockthird__backimg {
    position: absolute;
    left: -30px;
}
.blockthird__text {
    margin-top: 140px;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}
.blockthird__line {
}
.blockthird__block1 {
}
.blockthird__img {
}
.blockthird__text1 {
}
.blockthird__text2 {
}
.blockthird__block2 {
}
.blockthird__block3 {
}



