:root {
    --header-h: 80px;
}

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=Manrope:wght@300;400;500;600;700&family=Nanum+Gothic:wght@700;800&display=swap');

.header {
    width: 100%;
    height: var(--header-h);
    background-color: white;
    position: fixed;
    z-index: 99999;
}

.container {
    width: 1198px;
    margin: 0 auto;
    background-color: white;
}

.header-line {
    margin-top: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: var(--header-h);
    justify-content: space-between;
}

.header-logo {}

.nav {
    margin-top: 28px;
    margin-bottom: 28px;
}

.nav-item {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-right: 50px;
    text-decoration: none;
    color: black;
}

.header-button {}

.mainpage {
    padding-top: var(--header-h);
}

.container {}

.blockfirst {
    padding: 134px 0 124px 0;
    z-index: 1;
    font-family: 'Manrope', sans-serif;
    position: relative;
}

.blockfirst__text1 {
    font-size: 25px;
    position: relative;
    z-index: 2;
}

.blockfirst__text2 {
    margin-top: 15px;
    font-size: 55px;
    position: relative;
    z-index: 2;
}

.blockfirst__text3 {
    margin-top: 25px;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.blockfirst__button-block {
    margin-top: 35px;
    text-align: left;
}

.blockfirst__button {
    width: 223px;
    height: 50px;
}

.button_green {
    background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
    box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
}

.button {
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.blockfirst__circle {
    position: absolute;
    top: -129px;
    left: 129px;
    z-index: 1;
}

.blocksecond {
    margin-top: 184px;
    font-family: 'Manrope', sans-serif;
    position: relative;
    z-index: 1;
}

.blocksecond__backgrond1 {}

.blocksecond__img {
    width: 135%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blocksecond__img1 {
    position: absolute;
    left: -20%;
}

.blocksecond__img2 {
    position: absolute;
    top: 20%;
    right: -50%;

}

.blocksecond__backgrond2 {}

.blocksecond__backgrond3 {}

.blocksecond__text {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    position: relative;
}

.blocksecond__line1 {
    margin-top: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.blocksecond__image {
    height: 172px;
}

.blocksecond__linetext1 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.blocksecond__linetext2 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.blocksecond__icon1 {}

.blocksecond__icon2 {}

.blocksecond__icon3 {}

.blocksecond__line2 {
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.blocksecond__icon4 {}

.blocksecond__icon5 {}

.blockfirst__button-block {}

.button_green {}

.button2 {
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.blocksecond__button {
    width: 306px;
    height: 50px;
    display: block;
    margin: 100px auto 0 auto;
}

.blockthird {
    position: relative;
    font-family: 'Manrope', sans-serif;
}

.blockthird__backimg {
    position: absolute;
    left: -30px;
    top: 20px;
    z-index: 0;
}

.blockthird__text {
    margin-top: 140px;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.blockthird__line {
    display: flex;
    justify-content: space-between;
}

.blockthird__block1 {
    margin-top: 154px;
    width: 394px;
    height: 282px;
    border-radius: 35px;
    border: none;
    color: white;
    font-weight: 600;
    z-index: 1;
}

.blockthird__block2 {
    margin-top: 154px;
    width: 394px;
    height: 282px;
    border-radius: 35px;
    border: none;
    color: white;
    font-weight: 600;
}
.blockthird__block3 {
    position: absolute;
    width: 490px;
    height: 350px;
    border-radius: 35px;
    border: none;
    color: white;
    font-weight: 600;
    top: 308px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.blockthird_green {
    background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
    box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
}
.blockthird__img {
    height: 96px;
    text-align: center;
    margin-top: 40px;
    display: block;
}

.blockthird__text1 {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.blockthird__text2 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.blockthird__text3 {
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.blockthird__text4 {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.blockfourth {
    position: relative;
    font-family: 'Manrope', sans-serif;
}
.blockfourth_maintext {
    margin-top: 140px;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}
.blockfourth1 {
    margin-top: 72px;
    position: relative;
    box-sizing: border-box;
    display: flex;
}
.blockfourth1_left {
    background-color: #F7F8F3;
    border-radius: 35px;
    padding: 104px 50px;
    width: 1000px;
    height: 480px;
    box-sizing: border-box;
}
.blockfourth1_text1 {
    font-weight: 500;
    font-size: 30px;
}
.blockfourth1_text2 {
    padding-top: 25px;
    font-weight: 300;
    font-size: 20px;
}
.blockfourth1_button {
    padding-top: 35px;
}

.button3 {
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    width: 306px;
    height: 50px;
}

.blockfourth1_right {
    position: absolute;
    margin-left: 544px;
}
.blockfourth2 {
    margin-top: 80px;
    position: relative;
    display: flex;
}
.blockfourth2_left {
}
.blockfourth2_right {
    background-color: #F7F8F3;
    border-radius: 35px;
    /* padding: 104px 50px; */
    width: 834px;
    height: 480px;
    box-sizing: border-box;
    position: absolute;
    margin-left: 544px;
}
.blockfourth2_text1 {
}
.blockfourth2_button {
}
.blockfourth__backimage {
}
